/*header*/
#header {
	background-color: blue;
	padding: 50px;
}

.portfolio {
	height: auto;
}

.titleRight {
	float: right;
}

#imgSelma {
	/*width: 100%;*/
}

/*Portfolio Item*/
.portfolioItem a { 
    position: relative; 
    display: inline-block }

.portfolioItem a img {
    width: 100%;
}

.portfolioItem a div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: white;
    /*opacity: 30%;*/
    color: black;
    opacity:0;
    transition:1.5s;
}

.portfolioItem a:hover div {
    opacity:0.75;
}
