/*header*/
#header {
	background-color: blue;
	padding: 50px;
}

.portfolio {
	height: auto;
}

.titleRight {
	float: right;
}

#imgSelma {
	/*width: 100%;*/
}

/*Portfolio Item*/
.portfolioItem a { position: relative; display: inline-block }

.portfolioItem a img {
    width: 100%;
}

.portfolioItem a h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: black;
    opacity: 80%;
    color: #fff;
    opacity:0;
    transition:1s;
}

.portfolioItem a:hover h2 {
    opacity:5;
}
